.square {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    
    }

.row {
    padding-top:0px ;
    padding-bottom:0px ;
    display: flex;
    
}

.container {
    display :flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
}